* {
  box-sizing: border-box;
}

body {
  width: auto;
}
header {
  padding: 15px;
  background-color: black;
  font-family: 'Codystar', cursive;
}

nav div {
  background-color: rgb(208, 208, 68);
  display: flex;
  justify-content: center;
}

input {
  margin-right: 10px;
}

nav {
  border-bottom: solid black 5px;
}
@media screen and (max-width:767px){
  iframe {
  width: 420px;
  height: 315px;
}
.add-border {
  border-top: solid black 5px;
}
}